In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
#Importing data, including batter, pitcher, and personal player data and statistics and showing their columns

In [4]:
batters=pd.read_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 6/baseballdatabank-2022.2/core/Batting.csv',index_col=False)

In [5]:
batters.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')

In [6]:
pitchers=pd.read_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 6/baseballdatabank-2022.2/core/Pitching.csv',index_col=False)

In [7]:
pitchers.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'W', 'L', 'G', 'GS',
       'CG', 'SHO', 'SV', 'IPouts', 'H', 'ER', 'HR', 'BB', 'SO', 'BAOpp',
       'ERA', 'IBB', 'WP', 'HBP', 'BK', 'BFP', 'GF', 'R', 'SH', 'SF', 'GIDP'],
      dtype='object')

In [8]:
people=pd.read_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 6/baseballdatabank-2022.2/core/People.csv',index_col=False)

In [9]:
people.columns

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID'],
      dtype='object')

In [10]:
allstar=pd.read_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 6/baseballdatabank-2022.2/core/AllstarFull.csv',index_col=False)

In [11]:
allstar.columns

Index(['playerID', 'yearID', 'gameNum', 'gameID', 'teamID', 'lgID', 'GP',
       'startingPos'],
      dtype='object')

In [12]:
appearances_og=pd.read_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 6/baseballdatabank-2022.2/core/Appearances.csv',index_col=False)

In [13]:
appearances_og.columns

Index(['yearID', 'teamID', 'lgID', 'playerID', 'G_all', 'GS', 'G_batting',
       'G_defense', 'G_p', 'G_c', 'G_1b', 'G_2b', 'G_3b', 'G_ss', 'G_lf',
       'G_cf', 'G_rf', 'G_of', 'G_dh', 'G_ph', 'G_pr'],
      dtype='object')

In [14]:
hall_of_fame=pd.read_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 6/baseballdatabank-2022.2/contrib/HallOfFame.csv',index_col=False)

In [15]:
hall_of_fame.columns

Index(['playerID', 'yearID', 'votedBy', 'ballots', 'needed', 'votes',
       'inducted', 'category', 'needed_note'],
      dtype='object')

In [16]:
salaries=pd.read_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 6/baseballdatabank-2022.2/contrib/Salaries.csv',index_col=False)

In [17]:
salaries.columns

Index(['yearID', 'teamID', 'lgID', 'playerID', 'salary'], dtype='object')

In [18]:
batter_war=pd.read_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 6/B_Ref_WAR_ Data/batters_bref.csv',index_col=False)

In [19]:
batter_war.columns

Index(['name_common', 'age', 'mlb_ID', 'player_ID', 'year_ID', 'team_ID',
       'stint_ID', 'lg_ID', 'PA', 'G', 'Inn', 'runs_bat', 'runs_br', 'runs_dp',
       'runs_field', 'runs_infield', 'runs_outfield', 'runs_catcher',
       'runs_good_plays', 'runs_defense', 'runs_position', 'runs_position_p',
       'runs_replacement', 'runs_above_rep', 'runs_above_avg',
       'runs_above_avg_off', 'runs_above_avg_def', 'WAA', 'WAA_off', 'WAA_def',
       'WAR', 'WAR_def', 'WAR_off', 'WAR_rep', 'salary', 'pitcher', 'teamRpG',
       'oppRpG', 'oppRpPA_rep', 'oppRpG_rep', 'pyth_exponent',
       'pyth_exponent_rep', 'waa_win_perc', 'waa_win_perc_off',
       'waa_win_perc_def', 'waa_win_perc_rep', 'OPS_plus', 'TOB_lg', 'TB_lg'],
      dtype='object')

In [20]:
pitcher_war=pd.read_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 6/B_Ref_WAR_ Data/pitchers_bref.csv',index_col=False)

In [21]:
pitcher_war.columns

Index(['name_common', 'age', 'mlb_ID', 'player_ID', 'year_ID', 'team_ID',
       'stint_ID', 'lg_ID', 'G', 'GS', 'IPouts', 'IPouts_start',
       'IPouts_relief', 'RA', 'xRA', 'xRA_sprp_adj', 'xRA_extras_adj',
       'xRA_def_pitcher', 'PPF', 'PPF_custom', 'xRA_final', 'BIP', 'BIP_perc',
       'RS_def_total', 'runs_above_avg', 'runs_above_avg_adj',
       'runs_above_rep', 'RpO_replacement', 'GR_leverage_index_avg', 'WAR',
       'salary', 'teamRpG', 'oppRpG', 'pyth_exponent', 'waa_win_perc', 'WAA',
       'WAA_adj', 'oppRpG_rep', 'pyth_exponent_rep', 'waa_win_perc_rep',
       'WAR_rep', 'ERA_plus', 'ER_lg'],
      dtype='object')

In [22]:
appearances_og=pd.read_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 6/baseballdatabank-2022.2/core/Appearances.csv')

In [23]:
#Erasing alldata prior to 1960, as latin players started to join the MLB in the 1950's only.

In [24]:
batters = batters.drop(batters[batters.yearID <= 1960].index)
pitchers=pitchers.drop(pitchers[pitchers.yearID<=1960].index)
appearances_og = appearances_og.drop(appearances_og[appearances_og.yearID <= 1960].index)
batter_war_clean = batter_war.drop(batter_war[batter_war.year_ID <= 1960].index)
allstar = allstar.drop(allstar[allstar.yearID <= 1960].index)

In [25]:
batters.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
41261,aaronha01,1961,1,ML1,NL,155,603,115,197,39,...,120.0,21.0,9.0,56,64.0,20.0,2.0,1.0,9.0,16.0
41262,adairje01,1961,1,BAL,AL,133,386,41,102,21,...,37.0,5.0,2.0,35,51.0,4.0,2.0,1.0,4.0,6.0
41263,adcocjo01,1961,1,ML1,NL,152,562,77,160,20,...,108.0,2.0,1.0,59,94.0,4.0,2.0,4.0,2.0,22.0
41264,aguirha01,1961,1,DET,AL,45,9,0,0,0,...,1.0,0.0,0.0,0,8.0,0.0,0.0,3.0,1.0,0.0
41265,allenbo04,1961,1,CLE,AL,48,12,0,2,1,...,0.0,0.0,0.0,0,5.0,0.0,0.0,1.0,0.0,0.0

In [26]:
pitchers.head()

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
16201,aguirha01,1961,1,DET,AL,4,4,45,0,0,...,3.0,4,2.0,0,244.0,21,22,NaN,NaN,NaN
16202,allenbo04,1961,1,CLE,AL,3,2,48,0,0,...,5.0,4,1.0,0,373.0,17,42,NaN,NaN,NaN
16203,anderbo01,1961,1,CHN,NL,7,10,57,12,1,...,11.0,4,2.0,0,659.0,21,85,NaN,NaN,NaN
16204,andercr01,1961,1,SLN,NL,4,3,25,0,0,...,0.0,3,1.0,0,164.0,13,15,NaN,NaN,NaN
16205,antonjo02,1961,1,CLE,AL,0,4,11,7,0,...,0.0,1,1.0,0,225.0,0,39,NaN,NaN,NaN

In [27]:
#We will now merge the batters data with the people data, this will both be integral to our analysis, but, it will also help us to merge with another dataset

In [28]:
batters.shape

(69234, 22)

In [29]:
batters_and_people=pd.merge(batters,people, on='playerID',how='left')

In [30]:
batters_and_people.shape

(69234, 45)

In [31]:
batters.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
41261,aaronha01,1961,1,ML1,NL,155,603,115,197,39,...,120.0,21.0,9.0,56,64.0,20.0,2.0,1.0,9.0,16.0
41262,adairje01,1961,1,BAL,AL,133,386,41,102,21,...,37.0,5.0,2.0,35,51.0,4.0,2.0,1.0,4.0,6.0
41263,adcocjo01,1961,1,ML1,NL,152,562,77,160,20,...,108.0,2.0,1.0,59,94.0,4.0,2.0,4.0,2.0,22.0
41264,aguirha01,1961,1,DET,AL,45,9,0,0,0,...,1.0,0.0,0.0,0,8.0,0.0,0.0,3.0,1.0,0.0
41265,allenbo04,1961,1,CLE,AL,48,12,0,2,1,...,0.0,0.0,0.0,0,5.0,0.0,0.0,1.0,0.0,0.0

In [32]:
batters_and_people.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aaronha01,1961,1,ML1,NL,155,603,115,197,39,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
1,adairje01,1961,1,BAL,AL,133,386,41,102,21,...,Adair,Kenneth Jerry,175.0,72.0,R,R,1958-09-02,1970-05-03,adaij101,adairje01
2,adcocjo01,1961,1,ML1,NL,152,562,77,160,20,...,Adcock,Joseph Wilbur,210.0,76.0,R,R,1950-04-23,1966-10-01,adcoj101,adcocjo01
3,aguirha01,1961,1,DET,AL,45,9,0,0,0,...,Aguirre,Henry John,205.0,76.0,R,L,1955-09-10,1970-06-24,aguih101,aguirha01
4,allenbo04,1961,1,CLE,AL,48,12,0,2,1,...,Allen,Robert Gray,175.0,74.0,L,L,1961-04-14,1967-09-27,alleb101,allenbo04

In [33]:
batters_and_people.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID'],
      dtype='object')

In [34]:
appearances_og

,yearID,teamID,lgID,playerID,G_all,GS,G_batting,G_defense,G_p,G_c,...,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
41215,1961,ML1,NL,aaronha01,155,154.0,155,154.0,0,0,...,0,2,0,0,83,78,154,0.0,1.0,0.0
41216,1961,BAL,AL,adairje01,133,115.0,133,131.0,0,0,...,107,2,27,0,0,0,0,0.0,0.0,6.0
41217,1961,ML1,NL,adcocjo01,152,148.0,152,148.0,0,0,...,0,0,0,0,0,0,0,0.0,4.0,0.0
41218,1961,DET,AL,aguirha01,45,0.0,45,45.0,45,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
41219,1961,CLE,AL,allenbo04,48,0.0,48,48.0,48,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110418,2021,MIL,NL,zimmejo02,2,0.0,2,2.0,2,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
110419,2021,KCA,AL,zimmeky01,52,2.0,3,52.0,52,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
110420,2021,WAS,NL,zimmery01,110,48.0,110,54.0,0,0,...,0,0,0,0,0,0,0,3.0,58.0,0.0
110421,2021,KCA,AL,zuberty01,31,0.0,1,31.0,31,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
110422,2021,TBA,AL,zuninmi01,109,97.0,109,105.0,0,105,...,0,0,0,0,0,0,0,0.0,5.0,0.0

In [35]:
#Merging of the current batters data with the appearances data

In [36]:
batters_ppl_app1=pd.merge(batters_and_people,appearances_og,on=['playerID','yearID','teamID'],how='left',indicator = True)

In [37]:
batters_ppl_app1['_merge'].value_counts()

both          69234
left_only         0
right_only        0
Name: _merge, dtype: int64

In [38]:
#Now we will add the batters_war table to the party. This comes from a different data source, however- they have a common key

In [39]:
#adjusting team names in batter_ppl dataset to match batter_war

In [40]:
batter_war.columns

Index(['name_common', 'age', 'mlb_ID', 'player_ID', 'year_ID', 'team_ID',
       'stint_ID', 'lg_ID', 'PA', 'G', 'Inn', 'runs_bat', 'runs_br', 'runs_dp',
       'runs_field', 'runs_infield', 'runs_outfield', 'runs_catcher',
       'runs_good_plays', 'runs_defense', 'runs_position', 'runs_position_p',
       'runs_replacement', 'runs_above_rep', 'runs_above_avg',
       'runs_above_avg_off', 'runs_above_avg_def', 'WAA', 'WAA_off', 'WAA_def',
       'WAR', 'WAR_def', 'WAR_off', 'WAR_rep', 'salary', 'pitcher', 'teamRpG',
       'oppRpG', 'oppRpPA_rep', 'oppRpG_rep', 'pyth_exponent',
       'pyth_exponent_rep', 'waa_win_perc', 'waa_win_perc_off',
       'waa_win_perc_def', 'waa_win_perc_rep', 'OPS_plus', 'TOB_lg', 'TB_lg'],
      dtype='object')

In [41]:
#The teamID in each are a little bit off, lets fix that

batters_ppl_app1['teamID'] = batters_ppl_app1['teamID'].str.replace('CHA','CHW')
batters_ppl_app1['teamID'] = batters_ppl_app1['teamID'].str.replace('CHN','CHC')
batters_ppl_app1['teamID'] = batters_ppl_app1['teamID'].str.replace('FLO','FLA')
batters_ppl_app1['teamID'] = batters_ppl_app1['teamID'].str.replace('KC1','KCA')
batters_ppl_app1['teamID'] = batters_ppl_app1['teamID'].str.replace('KCA','KCR')
batters_ppl_app1['teamID'] = batters_ppl_app1['teamID'].str.replace('LAN','LAD')
batters_ppl_app1['teamID'] = batters_ppl_app1['teamID'].str.replace('ML1','MLN')
batters_ppl_app1['teamID'] = batters_ppl_app1['teamID'].str.replace('ML4','MIL')
batters_ppl_app1['teamID'] = batters_ppl_app1['teamID'].str.replace('NYA','NYY')
batters_ppl_app1['teamID'] = batters_ppl_app1['teamID'].str.replace('NYN','NYM')
batters_ppl_app1['teamID'] = batters_ppl_app1['teamID'].str.replace('SDN','SDP')
batters_ppl_app1['teamID'] = batters_ppl_app1['teamID'].str.replace('SE1','SCP')
batters_ppl_app1['teamID'] = batters_ppl_app1['teamID'].str.replace('SFN','SFG')
batters_ppl_app1['teamID'] = batters_ppl_app1['teamID'].str.replace('SLN','STL')
batters_ppl_app1['teamID'] = batters_ppl_app1['teamID'].str.replace('TBA','TBR')
batters_ppl_app1['teamID'] = batters_ppl_app1['teamID'].str.replace('WAS','WSN')
batters_ppl_app1['teamID'] = batters_ppl_app1['teamID'].str.replace('WS2','WSA')
batter_war['team_ID'] = batter_war['team_ID'].str.replace('TBD','TBR')

In [42]:
batter_war=batter_war.drop(['runs_bat', 'runs_br', 'runs_dp',
       'runs_field', 'runs_infield', 'runs_outfield', 'runs_catcher',
       'runs_good_plays', 'runs_defense', 'runs_position', 'runs_position_p',
       'runs_replacement', 'runs_above_rep', 'runs_above_avg',
       'runs_above_avg_off', 'runs_above_avg_def', 'WAA', 'WAA_off', 'WAA_def','teamRpG',
       'oppRpG', 'oppRpPA_rep', 'oppRpG_rep', 'pyth_exponent',
       'pyth_exponent_rep', 'waa_win_perc', 'waa_win_perc_off',
       'waa_win_perc_def', 'waa_win_perc_rep'], axis=1)

In [43]:
batter_war.columns

Index(['name_common', 'age', 'mlb_ID', 'player_ID', 'year_ID', 'team_ID',
       'stint_ID', 'lg_ID', 'PA', 'G', 'Inn', 'WAR', 'WAR_def', 'WAR_off',
       'WAR_rep', 'salary', 'pitcher', 'OPS_plus', 'TOB_lg', 'TB_lg'],
      dtype='object')

In [44]:
#after exporting and taking a closer look at the data, I noticed that the batter_war_clean table actually has a column that defferntiates between batter and pitcher.
#this is important because we won't be inclduing pitchers batting stats for hitters, so taking the pitchers out of the equation is important
#I'll now play around to see what the best way to merge things are

In [45]:
batter_war_clean.shape

(70095, 49)

In [46]:
batter_war_clean=batter_war_clean.drop(batter_war_clean[batter_war_clean.pitcher == "Y"].index)

In [47]:
batter_war_clean.shape

(37256, 49)

In [48]:
batter_war_clean['pitcher'].value_counts()

N    36798
Name: pitcher, dtype: int64

In [49]:
#Now that we only have batter data without pitchers who batted, we can merge the tables. Trial and error to see best way

In [50]:
batter_war_clean.rename(columns = {'player_ID':'bbrefID'}, inplace = True)

In [51]:
batter_war_clean.rename(columns = {'team_ID':'teamID'}, inplace = True)

In [52]:
batter_war_clean.rename(columns = {'year_ID':'yearID'}, inplace = True)

In [53]:
batter_war_clean.columns

Index(['name_common', 'age', 'mlb_ID', 'bbrefID', 'yearID', 'teamID',
       'stint_ID', 'lg_ID', 'PA', 'G', 'Inn', 'runs_bat', 'runs_br', 'runs_dp',
       'runs_field', 'runs_infield', 'runs_outfield', 'runs_catcher',
       'runs_good_plays', 'runs_defense', 'runs_position', 'runs_position_p',
       'runs_replacement', 'runs_above_rep', 'runs_above_avg',
       'runs_above_avg_off', 'runs_above_avg_def', 'WAA', 'WAA_off', 'WAA_def',
       'WAR', 'WAR_def', 'WAR_off', 'WAR_rep', 'salary', 'pitcher', 'teamRpG',
       'oppRpG', 'oppRpPA_rep', 'oppRpG_rep', 'pyth_exponent',
       'pyth_exponent_rep', 'waa_win_perc', 'waa_win_perc_off',
       'waa_win_perc_def', 'waa_win_perc_rep', 'OPS_plus', 'TOB_lg', 'TB_lg'],
      dtype='object')

In [54]:
batter_war_clean.to_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 6/prepared data/batter_war_clean.csv')

In [55]:
batters_ppl_app1.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID_x', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID', 'lgID_y', 'G_all', 'GS', 'G_batting', 'G_defense',
       'G_p', 'G_c', 'G_1b', 'G_2b', 'G_3b', 'G_ss', 'G_lf', 'G_cf', 'G_rf',
       'G_of', 'G_dh', 'G_ph', 'G_pr', '_merge'],
      dtype='object')

In [56]:
batters_ppl_app1=batters_ppl_app1.drop(['_merge'],axis=1)

In [57]:
batter_war_clean.shape

(37256, 49)

In [58]:
batters_ppl_app1.shape

(69234, 63)

In [59]:
#the merge
batters_full=pd.merge(batter_war_clean,batters_ppl_app1,on=['bbrefID','yearID','teamID'],how='left',indicator = True)

In [60]:
batters_full.shape

(37273, 110)

In [61]:
batters_full.columns

Index(['name_common', 'age', 'mlb_ID', 'bbrefID', 'yearID', 'teamID',
       'stint_ID', 'lg_ID', 'PA', 'G_x',
       ...
       'G_3b', 'G_ss', 'G_lf', 'G_cf', 'G_rf', 'G_of', 'G_dh', 'G_ph', 'G_pr',
       '_merge'],
      dtype='object', length=110)

In [62]:
batters_full_clean=batters_full.drop(['deathYear', 'deathMonth', 'deathDay', 'deathCountry',
       'deathState', 'deathCity',],axis=1)

In [63]:
batters_full_clean.columns

Index(['name_common', 'age', 'mlb_ID', 'bbrefID', 'yearID', 'teamID',
       'stint_ID', 'lg_ID', 'PA', 'G_x',
       ...
       'G_3b', 'G_ss', 'G_lf', 'G_cf', 'G_rf', 'G_of', 'G_dh', 'G_ph', 'G_pr',
       '_merge'],
      dtype='object', length=104)

In [64]:
batters_ppl_app1.to_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 6/prepared data/batters_ppl_app1.csv')

In [65]:
batters_full_clean.to_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 6/prepared data/batters_full_clean.csv')

In [66]:
#Now we will add the allstar data to finish up!

In [67]:
batters_full_clean=batters_full_clean.drop(['_merge'],axis=1)

In [68]:
allstar = allstar.drop(allstar[allstar.yearID <= 1960].index)

In [69]:
batters_full_clean.shape

(37273, 103)

In [70]:
batters_final_clean=pd.merge(batters_full_clean,allstar,on=['playerID','yearID','teamID'],how='left',indicator=True)

In [71]:
batters_final_clean.shape

(37323, 109)

In [72]:
batters_final_clean.to_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 6/prepared data/batters_final_clean.csv')